@{
    ViewBag.Title = "博阳家纺我喜欢！";
}
@Html.Partial("pv_banner")
<!--about-->
<div class="about">
    <div class="container">
        <div class="about-info">
            <div class="col-md-6 about-grids">
                <h3>Who We Are </h3>
                <img src="../../Content/themes/bodyImage/img2.jpg" alt="" />
                <h5>Aenean pulvinar ac enimet posuere tincidunt velit Utin Integer in tincidunt velit</h5>
                <p>
                    In sit amet sapien eros. Integer in tincidunt velit. Ut in tincidunt velit sapien est, 
						molestie sit amet metussit amet malesuada Integer in tincidunt velit.
                </p>
                <a href="single.html" class="btn btn-1 btn-1d">Read More </a>
            </div>
            <div class="col-md-6 about-grids">
                <h3>Our Speacials</h3>
                <h5>Aenean pulvinar acenimet amet malesuada</h5>
                <p>In sit amet sapien eros.Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do  Integer in tincidunt velit. Ut in tincidunt velit sapien est </p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">Tincidunt
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Malesuada
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Reprehen
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Heiusmod
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Repreiusmod
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--team-->
        <div class="team">
            <h3>Our Team Members</h3>
            <div class="team-info">
                <div class="col-md-3 team-grids">
                    <a href="#">
                        <img class="img-responsive" src="../../Content/themes/bodyImage/img3.jpg" alt="">
                        <div class="captn">
                            <h4>Tincidun</h4>
                            <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 team-grids">
                    <a href="#">
                        <img class="img-responsive" src="../../Content/themes/bodyImage/img4.jpg" alt="">
                        <div class="captn">
                            <h4>Velit uti</h4>
                            <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 team-grids">
                    <a href="#">
                        <img class="img-responsive" src="../../Content/themes/bodyImage/img5.jpg" alt="">
                        <div class="captn">
                            <h4>Posuere</h4>
                            <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 team-grids">
                    <a href="#">
                        <img class="img-responsive" src="../../Content/themes/bodyImage/img6.jpg" alt="">
                        <div class="captn">
                            <h4>Augc sfe</h4>
                            <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--//team-->
    </div>
</div>
<!--about-->
<!--footer-->

