@{
    ViewBag.Title = "彩迪电器我喜欢！";
}
@Html.Partial("pv_banner")
<div class="hm-about">
    <div class="container">
        <div class="col-md-5 hm-about-left">
            <img src="../../Content/themes/bodyImage/img1.jpg" alt="">
        </div>
        <div class="col-md-7 hm-about-left">
            <h5>公司简介</h5>
            <p>
                新乐市彩迪电器公司成立于2009年，是一家专业从事各种调温开关、电热系列产品研发及生产的企业。公司主要产品有：无极调温型开关、自动控温型开关、数码显示自动控温型开关、各种加热线、其他加热系列产品等。 
产品主要用途：电热毯、电热帽、仔猪加热板、电热垫等加热产品。为确保产品主要原材料、元器件及关键部件进货渠道和稳定、可靠的质量及进货周期，公司严格按照GB4706.8-2008国家标准执行，并参照国际IEC、国家GB等相关安全标准组织设计和生产。 
公司奉行“诚信 创新 共赢”的方针，不断开拓创新，竭诚期待您的合作！
            </p>
            <a class="btn btn-1 btn-1d" href="#">Read More </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*banner-bottom*@
<div class="banner-bottom">
    <div class="container">
        <h4>重要新闻</h4>
        <div class="bottom-grids">
            <div class="col-md-4 bttm-grids-info">
                <h5>彩迪、都市人强强联合</h5>
                <p>在2016年年初，彩迪电器有限公司和博洋家纺旗下的都市人品牌达成了一致的意见，将硬质量品牌都市人划入彩迪电器旗下，并由王玉红出任彩迪电器的总经理监管市场总监，将电热毯，电加热坐垫等产品销量和质量再次提高一个档次。</p>
            </div>
            <div class="col-md-4 bttm-grids-info">
                <h5>2016年迎来新的高度</h5>
                <p>迎合中国电商强大的崛起的背景下，我们公司和中国顶级电商淘宝、天猫、京东展开合作。在去年迎来了两千万的销售额度，今年上半年同比增长20%</p>
            </div>
            <div class="col-md-4 bttm-grids-info">
                <h5>打造互联网+企业</h5>
                <p>在中国互联网+的时代，什么才是互联网家，理解互联网家的意义非常重大，只有互联网的企业是虚幻飘渺的，而没有互联网的企业就是行将就木的老者。所以互联网+的企业就要做到互联网和实体经济结合起来做到在大数据时代下的结合实体企业迅速发展</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*slid*@
<div class="slid">
    <div class="container">
        <h3 class="title">Pricing</h3>
        <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        <div class="slid-row">
            <div class="col-md-4 slid-grids bac">
                <h4>Perspici</h4>
                <h5>￥159</h5>
                <a class="btn btn-1 btn-1d" href="#">Read More </a>
            </div>
            <div class="col-md-4 slid-grids">
                <h4>Digniss</h4>
                <h5>$800</h5>
                <a class="btn btn-1 btn-1d" href="#">Read More </a>
            </div>
            <div class="col-md-4 slid-grids">
                <h4>Acusam</h4>
                <h5>$379</h5>
                <a class="btn btn-1 btn-1d" href="#">Read More </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*services*@
<div class="services" id="services">
    <div class="container">
        <h3 class="title">Services Overview</h3>
        <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        <div class="service-grids">
            <div class="col-md-4 srvc-grids-info">
                <div class="srvc-img">
                    <img src="../../Content/themes/bodyImage/icon2.png" alt="">
                </div>
                <h5>Ultrices proin eget ipsum</h5>
                <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
            </div>
            <div class="col-md-4 srvc-grids-info">
                <div class="srvc-img">
                    <img src="../../Content/themes/bodyImage/icon3.png" alt="">
                </div>
                <h5>Ultrices proin eget ipsum</h5>
                <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
            </div>
            <div class="col-md-4 srvc-grids-info">
                <div class="srvc-img">
                    <img src="../../Content/themes/bodyImage/icon4.png" alt="">
                </div>
                <h5>Ultrices proin eget ipsum</h5>
                <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="testi">
    <div class="container">
        <h3 class="title">Testimonials</h3>
        <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui cupiditate non provident</p>
        <!-- banner-text Slider starts Here -->
        <script src="../Scripts/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 3
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
        </script>
        <!--//End-slider-script -->
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <p>" Claritas est etiam processus dynaicus qui sequitur mutationem At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Dynai </h4>
                </li>
                <li>
                    <p>" At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiislaritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Sequit </h4>
                </li>
                <li>
                    <p>" Vlaritas est etiam processus dynaicus qui At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis sequitur mutationem consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Etiamy </h4>
                </li>
            </ul>
        </div>
    </div>
</div>
