@{
    ViewBag.Title = "博阳家纺我喜欢！";
}
<!--gallery-->
<div class="gallery">
    <div class="container">
        <h3>我们的产品</h3>
        <!--light-box-js -->
        <script src="../../Scripts/jquery.chocolat.js"></script>
        <link rel="stylesheet" href="../../Content/CSS/chocolat.css" type="text/css" media="all" charset="utf-8" />
        <!--light-box-files -->
        <script type="text/javascript" charset="utf-8">
            $(function () {
                $('.moments-bottom a').Chocolat();
            });
        </script>
        <!--//end-gallery js-->
        <div class="row gallery-info">
            <div class="col-sm-6 col-md-4 gallery-grids ">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/烫金被罩1.png" title="">
                        <img src="../../Content/themes/productImage/烫金被罩1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">烫金红</a></h5>
                    <p>高贵的烫金画面，大喜红色配色，喜气迎目，喜上心</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/蓝色经典星星2.0x2.2.png" title="">
                        <img src="../../Content/themes/productImage/蓝色经典星星2.0x2.2.png" class="img-responsive zoom-img" alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">梦幻蓝</a></h5>
                    <p>适合男生经典的色调,大气不失高呀,点缀不失整洁</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/烫金粉色被罩2.0x2.2.png" title="" class="moments-bottom">
                        <img src="../../Content/themes/productImage/烫金粉色被罩2.0x2.2.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">淑女粉</a></h5>
                    <p>梦幻姑娘梦幻般的颜色,点缀着烫金的花色,让少女美美地入梦</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/敷面双人电热毯1.png" title="">
                        <img src="../../Content/themes/productImage/敷面双人电热毯1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">敷面毯</a></h5>
                    <p>双人敷面电热毯，毛绒舒适的毯面，安全的开关加热线，安全舒适</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/经典红色单人1.png" title="">
                        <img src="../../Content/themes/productImage/经典红色单人1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">经典红色</a></h5>
                    <p>电热毯中的经典，红色经典源于此,让经典传承</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/皮微绒棕色双人1.png" title="">
                        <img src="../../Content/themes/productImage/皮微绒棕色双人1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">咖啡毯</a></h5>
                    <p>咖啡一样的颜色，咖啡一样的醇厚，同样保证安全舒适</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/双人毛毯1.png" title="">
                        <img src="../../Content/themes/productImage/双人毛毯1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">玫瑰毛毯</a></h5>
                    <p>玫瑰花色，玫瑰爱心，毛毯面料让你温暖一生</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/双人皮微绒1.png" title="">
                        <img src="../../Content/themes/productImage/双人皮微绒1.png" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">杏花毯</a></h5>
                    <p>杏花粉色的皮微绒面料，超安全的加热线路保护，伴你一生</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 gallery-grids">
                <div class="thumbnail moments-bottom">
                    <a href="../../Content/themes/productImage/双控皮微绒开关照片1.jpg" title="">
                        <img src="../../Content/themes/productImage/双控皮微绒开关照片1.jpg" class="img-responsive zoom-img " alt="">
                    </a>
                </div>
                <div class="caption gallery-caption">
                    <h5><a href="#">咖啡毯</a></h5>
                    <p>咖啡一样的颜色，咖啡一样的醇厚，同样保证安全舒适</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--gallery-->
